profiles {
    docker {
        docker {
            enabled = true
            temp = 'auto'
            runOptions = '--gpus all'
        }
        process {
            executor = 'local'
            container = 'docker.io/go2432/biobb_pmx:latest'
            cache = true
        }
    }
}

params {
    // Custom
    n_snapshots   = 10

    // biobb_analysis options
    selection     = "System"
    start         = 1
    end           = 1000
    dt            = 200
    output_type   = "pdb"

    // workflow
    output_folder       = "$projectDir/results"
    container__biobb_pmx = 'docker.io/go2432/biobb_pmx:latest'
}

